<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OA Snipers - Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
</head>

<body>

  <app-navbar></app-navbar>


    <section class="seccion">
        <div class="contenido">
          <h1 class="titulo-principal">Listas de productos rentables para Amazon FBA</h1>
          <p class="subtitulo-principal">Arbitraje en linea</p>
          <p class="parrafo-principal">Ofrecemos listas de productos ganadores y rentables para realizar arbitraje en Amazon FBA. Nuestra selección te ayudará a encontrar las mejores oportunidades de venta en la plataforma, optimizando tus ganancias y simplificando el proceso de arbitraje</p>
          <div class="boton-principal">
            <a href="./servicios.html">Ver planes y precios</a>
          </div>
        </div>
        <div class="imagen">
          <img src="./assets/inicio/undraw_all_the_data_re_hh4w.svg" alt="Imagen">
        </div>
    </section>

    <section class="container-acerca-de-nosotros">
        <h2 class="tititle">Acerca de OA Snipers</h2>
        <div class="acerca-de-nosotros">


            <div class="card-prueba">
                <div class="card-prueba-title">
                    <img src="./assets/inicio/prueba.svg" alt="">
                    <h3>Crecimiento</h3>
                </div>
                <div class="card-prueba-textos">
                    <div class="card-prueba-texto">
                        <p>1-</p>
                        <p>Ahorre su valioso tiempo y elimine el estrés.</p>
                    </div>
                    <div class="card-prueba-texto">
                        <p>2-</p>
                        <p>Te ayudamos a evitar uno de los mayores desafíos que enfrentan los vendedores de Amazon FBA</p>
                    </div>
                </div>
            </div>

            <div class="card-prueba">
                <div class="card-prueba-title">
                    <img src="./assets/inicio/prueba.svg" alt="">
                    <h3>Diario</h3>
                </div>
                <div class="card-prueba-textos">
                    <div class="card-prueba-texto">
                        <p>1-</p>
                        <p>Nuestra lista se enviará de lunes a viernes por la mañana.</p>
                    </div>
                    <div class="card-prueba-texto">
                        <p>2-</p>
                        <p>Ofrecemos un flujo constante de productos </p>
                    </div>
                </div>
            </div>
            
            <div class="card-prueba">
                <div class="card-prueba-title">
                    <img src="./assets/inicio/prueba.svg" alt="">
                    <h3>De calidad</h3>
                </div>
                <div class="card-prueba-textos">
                    <div class="card-prueba-texto">
                        <p>1-</p>
                        <p>Analizamos productos considerando ventas, ROI, ganancias y competencia</p>
                    </div>
                    <div class="card-prueba-texto">
                        <p>2-</p>
                        <p>Tu éxito es nuestra prioridad.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="container-que-ofrecemos">
        <h2 class="que-ofrecemos-title tititle">Que ofrecemos?</h2>
        <div class="que-ofrecemos">
            <div class="que-ofrecemos-card card-one">
                <img src="./assets/inicio/crecimiento.svg" alt="">
                <div class="que-ofrecemos-text">
                    <h3>CRECIMIENTO</h3>
                <p>Ahorre su valioso tiempo y elimine el estrés. Te ayudamos a evitar uno de los mayores desafíos que enfrentan los vendedores de Amazon FBA</p>
                </div>
            </div>

            <div class="que-ofrecemos-card card-two">
                <img src="./assets/inicio/undraw_subscriber_re_om92.svg" alt="">
                <div class="que-ofrecemos-text">
                    <h3>DIARIO</h3>
                <p>Nuestra lista se enviará de lunes a viernes por la mañana. Ofrecemos un flujo constante de productos que le permitirás crear su inventario rápidamente</p>
                </div>
            </div>
            
        </div>
    </section>

    <section class="container-index-newsletter">
        <div class="index-newsletter">
            <div class="index-newsletter-text">
                <h4>¿Querés recibir aviso de nuevos cursos, blogs y promociones en nuestras listas?</h4>
                <p>Suscribite!</p>
                <form id="newsletterForm">
                    <div class="index-newsletter-cta">
                        <input type="email" name="email" id="email" placeholder="Tu correo electrónico" required><button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="index-newsletter-img">
                <img src="./assets/inicio/Amazon-PPC-ads.jpg" alt="">
            </div>
        </div>
    </section>

    <p class="title-testimonios tititle">Testimonios de clientes que confian en OA Snipers!</p>
    
    <section class="containerr">
        <div class="wrapper" id="wrapper">
            <i class="left" id="left"><img src="./assets/inicio/chevron_left.svg" alt=""></i>

            <ul class="carousel">

              <li class="card">
                <div class="img"><img src="./assets/inicio/testimonios/foto-de-perfil.jpg" alt="img" draggable="false"></div>
                <div class="card-text">
                    <h2>Mario Gutierrez</h2>
                <p>Muchas gracias por las listas, en verdad superaron a lo que se espera en la muestra gratis</p>
                </div>
              </li>

              <li class="card">
                <div class="img"><img src="./assets/inicio/testimonios/foto-de-perfil.jpg" alt="img" draggable="false"></div>
                <div class="card-text">
                    <h2>Gabriela Prados</h2>
                <p>De lo que he visto hasta ahora dan informacion util, simplificada y distinta a otros grupos. Son muy originales en lo que se refiere al contenido. Muy practico!</p>
                </div>
              </li>

              <li class="card">
                <div class="img"><img src="./assets/inicio/testimonios/foto-de-perfil.jpg" alt="img" draggable="false"></div>
                <div class="card-text">
                    <h2>Aaron Tom</h2>
                <p>Ya llego mi primer articulo a Amazon de una lista que me habías enviado, muy bueno el servicio</p>
                </div>
              </li>


            </ul>
            <i class="right" id="right"><img src="./assets/inicio/chevron_right.svg" alt=""></i>
          </div>
    </section>

    <section class="container-aprende">
        <p class="tititle">Aprende con nosotros</p>
        <div class="contenedor">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/pNULyf0GGFY?si=2SFycUDBdd1Om2Zn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/Z3a4e1_FW6g?si=jmjL_JrfT59ca9Pb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>    
    </section>


    <section class="faq-section" id="faq">
        <p class="title-faq tititle">Preguntas frecuentes</p>
        <div class="faq-container">

          <div class="pregunta">
            <h3 class="pregunta-titulo">¿Qué es una lista de productos para Arbitrage en Amazon?</h3>
            <div class="respuesta">
              <p>Si eres vendedor en Amazon y dispones de poco tiempo para buscar productos, una lista de productos es la solución ideal. Recibirás semanalmente decenas de enlaces de productos directamente en tu correo electrónico. Solo tendrás que adquirirlos y publicarlos en Amazon.</p>
            </div>
          </div>

          <div class="pregunta">
            <h3 class="pregunta-titulo">¿Puedo acceder a una lista de productos si soy principiante?</h3>
            <div class="respuesta">
              <p>Sí, no es necesario tener experiencia previa. Puedes empezar con una lista básica y aprender de ella. Descubrirás nuevas tiendas, accederás a nuestros análisis detallados, cupones, ofertas, y podrás identificar marcas potenciales para desbloquear en el futuro.</p>
            </div>
          </div>

          <div class="pregunta">
            <h3 class="pregunta-titulo">¿De qué mercado son los productos?</h3>
            <div class="respuesta">
              <p>Nos enfocamos solamente en el mercado de Estados Unidos.</p>
            </div>
          </div>

          <div class="pregunta">
            <h3 class="pregunta-titulo">¿Es necesario residir en los Estados Unidos para realizar este negocio?</h3>
            <div class="respuesta">
              <p>No, este negocio puede llevarse a cabo de manera completamente online. Te proporcionaremos capacitación en búsqueda, análisis y compra de productos, asegurando que puedas operar de manera profesional desde cualquier parte del mundo.</p>
            </div>
          </div>

          <div class="pregunta">
            <h3 class="pregunta-titulo">¿Tienen cupos limitados para las listas?</h3>
            <div class="respuesta">
              <p>Si, los cupos varían entre 15 y 20 por lista como máximo para evitar una alta competencia interna. Para los servicios personalizados es únicamente enviado al cliente.</p>
            </div>
          </div>

          
        </div>
    </section>

    <app-footer></app-footer>


<script src="https://kit.fontawesome.com/02df23bff5.js" crossorigin="anonymous"></script>

</body>
</html>

